h1{
    text-align: center;
}
h3{
    color: #555;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shapechoice{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    column-gap: 20px;
}
.colorchoice{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.namechoice{
    text-align: center;
}
.shapechoices{
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 10px;
}
.colorchoices{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around center;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
}
.square{
    height: 200px;
    width: 200px;
    background-color: #555;
}
.circle{
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
}
.triangle{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid #555;
}
.shapes{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    column-gap: 20px;
}