h1{
    text-align: center;
}
h3{
    color: #555;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.colorchoice{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.namechoice{
    text-align: center;
}
.colorchoices{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around center;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center;
}
#circle{
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
}
.pet{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    column-gap: 20px;
}

.labels{
	margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}
.health{
    display: flex;
    padding-bottom: 10px;
}
.happiness{
    display: flex;
    padding-bottom: 10px;
}
.food{
    display: flex;
    padding-bottom: 10px;
}
#health{
    width: 100px;
}
#happiness{
    width: 100px;
}
#food{
    width: 100px;
}

#mHealth{
	background-color: #87BBA2;
	border: 1px solid #87BBA2;
    padding: 3px 0 4px 0;
	width: 130px;
}

#mHappiness{
	background-color: #234327;
	border: 1px solid #234327;
    padding: 3px 0 4px 0;
	width: 130px;
}

#mFood{
	background-color: #065f2f;
	border: 1px solid #065f2f;
    padding: 3px 0 4px 0;
	width: 130px;
}
#btnFeed{
    width: 47px;
}
#btnPlay{
    width: 47px;
}
